* {
    
    text-align: center;
    
} 

body {
line-height:30px;
}

#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-radius:0px !important;
   
}

.navButtons {
    float: left;
}

#profile {
border-radius: 300px;
width:300px;
height:300px;
float:left;
margin-right:100px;
margin-left:100px;
}

li a {
    display: block;
    color:black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #808080;
}


body {
    background: linear-gradient(#780206, #061161);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:auto;
    background-position:top-center;
}
.answers {
    text-align: center;
    color: white;
}
ul {
    color: white;
    border-radius: 25px;
    list-style-type: disc;
    margin-left: auto;
    margin-right: auto;

    border-style: solid;
    border-width: 1px;
    border-color: white;
    
}

p {
    color: white;
}

ol{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
    border-radius: 25px;
    list-style-type: disc;
    margin-left: auto;
    margin-right: auto;
}

#movies {
    color: white;
    border-radius: 25px;
    list-style-type: disc;
    margin-left: 30%;
    margin-right: auto;

    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#faveMovies {
    list-style-type: disc;
}

li {
    margin-left: 25px;
}

#food > li {
    margin-left: 40%;

}
